/* CSS Document */
#tip{
	background-color: #6CF; color:#FFF; font-weight:bold; width:100px; height:20px; display:none; padding-top:5px; text-align:center;margin-left:40%; margin-right:auto; margin-bottom:5px
}